<!--Información del curso-->
<img align="left" style="padding-right:10px;" src="figuras/logo_ciencia_datos.png">

<center><h1 style="font-size:2em;color:#2467C0"> Pandas y GLOB  </h1></center>

<center><h2 style="font-size:2em;color:#840700">   Manipulación de archivos con GLOB </h4></center>

<br>
<table>
<col width="250">
<col width="750">
<tr>
<td><img src="figuras/glob.png" align="left" style="width:150px"/></td>
<td>

La función **glob.glob()** devuelve una lista con las entradas que coincidan con el patrón especificado en *pathname*.

**glob.glob( *pathname* , recursive=False)** 
    
<br>
</td>
</tr>
</table>

## Integrantes

Nombre 1:

Nombre 2:

# Librerías

Cargando las bibliotecas que necesitamos

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

## Mostrando todos los archivos de "/datos"

La salida serán los archivos en forma de lista

In [2]:
# establecer ruta de búsqueda  
path = 'datos'
files = glob.glob(path + '/*')
files

['datos/semestre2c.csv',
 'datos/semestre2a.csv',
 'datos/semestre3b.csv',
 'datos/semestre1b.csv',
 'datos/semestres.txt',
 'datos/informacion.txt',
 'datos/semestre3a.csv',
 'datos/semestre3c.csv',
 'datos/semestre2b.csv',
 'datos/semestre1a.csv',
 'datos/Ventas',
 'datos/semestre1c.csv']

## Mostrando  los archivos  **.txt** de "/datos"

La salida serán los archivos .txt en forma de lista

In [3]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos txt  
path = 'datos'
files = glob.glob(path + '/*.txt')
files

['datos/semestres.txt', 'datos/informacion.txt']

## Mostrando  los archivos .csv de "/datos"

La salida serán los archivos .csv en forma de lista

In [4]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/*.csv')
files

['datos/semestre2c.csv',
 'datos/semestre2a.csv',
 'datos/semestre3b.csv',
 'datos/semestre1b.csv',
 'datos/semestre3a.csv',
 'datos/semestre3c.csv',
 'datos/semestre2b.csv',
 'datos/semestre1a.csv',
 'datos/semestre1c.csv']

## Concatenando todos los archivos .csv para formar un dataframe

In [4]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/*.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(  lista_dfs, axis=0  )
df.head()
print('final=', df.shape)
# concatenación

['datos/semestre2c.csv', 'datos/semestre2a.csv', 'datos/semestre3b.csv', 'datos/semestre1b.csv', 'datos/semestre3a.csv', 'datos/semestre3c.csv', 'datos/semestre2b.csv', 'datos/semestre1a.csv', 'datos/semestre1c.csv']
(7, 5)
(7, 5)
(6, 5)
(11, 5)
(5, 5)
(5, 5)
(7, 5)
(10, 5)
(11, 5)
final= (69, 5)

In [7]:
df.head()

   NOMBRE  APELLIDO  CALIFICACION      CARRERA    CIUDAD
0  ALVARO     ORTIZ            89  MECATRONICA    MERIDA
1  ISABEL   SANCHEZ            96   RENOVABLES    MERIDA
2     ANA   ALARCON            84       FISICA  PROGRESO
3   ANGEL  MORCILLO            98  MECATRONICA    MERIDA
4   JESUS    ORTEGA            74  MECATRONICA    MERIDA

In [9]:
df

       NOMBRE  APELLIDO  CALIFICACION      CARRERA    CIUDAD
0      ALVARO     ORTIZ            89  MECATRONICA    MERIDA
1      ISABEL   SANCHEZ            96   RENOVABLES    MERIDA
2         ANA   ALARCON            84       FISICA  PROGRESO
3       ANGEL  MORCILLO            98  MECATRONICA    MERIDA
4       JESUS    ORTEGA            74  MECATRONICA    MERIDA
..        ...       ...           ...          ...       ...
6      JOSEFA     LOPEZ            98  MECATRONICA    MERIDA
7        LUIS    ALFARO            65       FISICA    MERIDA
8     ALBERTO     PEREZ            63  MECATRONICA    MERIDA
9   FRANCISCO      PECH            96       FISICA    MERIDA
10        ANA   NAVARRO            59  MECATRONICA    MERIDA

[69 rows x 5 columns]

## Concatenando los archivos .csv del primer semestre 

El comodín * representa desde nada, hasta cualquier cantidad de caracteres y dígitos

In [10]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre1?.csv')
print(files)
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(  lista_dfs, axis=0  )
df.head()
print('final=', df.shape)
# concatenación

['datos/semestre1b.csv', 'datos/semestre1a.csv', 'datos/semestre1c.csv']
(11, 5)
(10, 5)
(11, 5)
final= (32, 5)

## Concatenando los archivos .csv del primer y segundo semestre 

El comodín **[ ]**  representa un rango,  ya sea de caracteres o de números.

In [11]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre[1-2]*.csv')
print(files)
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(  lista_dfs, axis=0  )
df.head()
print('final=', df.shape)
# concatenación

['datos/semestre2c.csv', 'datos/semestre2a.csv', 'datos/semestre1b.csv', 'datos/semestre2b.csv', 'datos/semestre1a.csv', 'datos/semestre1c.csv']
(7, 5)
(7, 5)
(11, 5)
(7, 5)
(10, 5)
(11, 5)
final= (53, 5)

## Concatenando los archivos .csv de los grupos "a"
El comodín **?** Representa un único carácter.

In [12]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre?a.csv')
print(files)
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(  lista_dfs, axis=0  )
df.head()
print('final=', df.shape)
# concatenación

['datos/semestre2a.csv', 'datos/semestre3a.csv', 'datos/semestre1a.csv']
(7, 5)
(5, 5)
(10, 5)
final= (22, 5)

## Concatenando los archivos .csv de los grupos "a" y "b"

El comodín **[ ]**  representa un rango,  ya sea de caracteres o de números.

In [13]:
# establecer ruta de búsqueda  
# aquí queremos buscar archivos csv  
path = 'datos'
files = glob.glob(path + '/semestre?[a-b].csv')
print(files)
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(  lista_dfs, axis=0  )
df.head()
print('final=', df.shape)
# concatenación

['datos/semestre2a.csv', 'datos/semestre3b.csv', 'datos/semestre1b.csv', 'datos/semestre3a.csv', 'datos/semestre2b.csv', 'datos/semestre1a.csv']
(7, 5)
(6, 5)
(11, 5)
(5, 5)
(7, 5)
(10, 5)
final= (46, 5)

# TAREA

<div class="alert alert-success">
<b>EJERCICIO 1: Concatenar todos los archivos  .csv  </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>  
  <li> d) El nombre que más se repite </li>  
  <li> e) El apellido que más se repite </li>       
     
</ul>
</div>

In [7]:
path = 'datos'
files = glob.glob(path + '/*.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    # print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(  lista_dfs, axis=0  )

['datos/semestre2c.csv', 'datos/semestre2a.csv', 'datos/semestre3b.csv', 'datos/semestre1b.csv', 'datos/semestre3a.csv', 'datos/semestre3c.csv', 'datos/semestre2b.csv', 'datos/semestre1a.csv', 'datos/semestre1c.csv']

In [46]:
print('Promedio y desviación estándar de calificaciones')
print(f'promedio de calificaciones={df.CALIFICACION.mean():.2f}')
print(f'desviación estándar de calificaciones={df.CALIFICACION.std():.2f}')

Promedio y desviación estándar de calificaciones
promedio de calificaciones=81.72
desviación estándar de calificaciones=18.72

In [53]:
print('Datos del alumo con la calificación más alta')
df = df.sort_values(by='CALIFICACION', ascending=False).reset_index(drop=True)
df.iloc[0:2,:]

Datos del alumo con la calificación más alta

  NOMBRE APELLIDO  CALIFICACION CARRERA  CIUDAD
0   JUAN    BALAM           100  FISICA   MOTUL
1   RICK  SANCHEZ           100  FISICA  MERIDA

In [54]:
print('Datos del alumo con la calificación más baja')
df = df.sort_values(by='CALIFICACION', ascending=True).reset_index(drop=True)
df.iloc[0:1,:]

Datos del alumo con la calificación más baja

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
0  VICENTE  CABALLERO             8  MECATRONICA  MERIDA

In [55]:
print('El nombre que más se repite')
df.NOMBRE.value_counts().head(1)

El nombre que más se repite

NOMBRE
PEDRO    4
Name: count, dtype: int64

In [58]:
print('El apellido que más se repite')
df.APELLIDO.value_counts().head(1)

El apellido que más se repite

APELLIDO
MAY    4
Name: count, dtype: int64

<div class="alert alert-success">
<b>EJERCICIO 2: Concatenar todos los archivos  .csv del primer semestre </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [60]:
path = 'datos'
files = glob.glob(path + '/semestre1?.csv')
print(files)
# crear una lista vacía para almacenar  los dataframes
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    # print(temp_df.shape)
    lista_dfs.append(temp_df)

df = pd.concat(  lista_dfs, axis=0  )

['datos/semestre1b.csv', 'datos/semestre1a.csv', 'datos/semestre1c.csv']

In [61]:
print('Promedio y desviación estándar de calificaciones')
print(f'promedio de calificaciones={df.CALIFICACION.mean():.2f}')
print(f'desviación estándar de calificaciones={df.CALIFICACION.std():.2f}')

Promedio y desviación estándar de calificaciones
promedio de calificaciones=78.34
desviación estándar de calificaciones=20.06

In [66]:
print('Datos del alumo con la calificación más alta')
df = df.sort_values(by='CALIFICACION', ascending=False).reset_index(drop=True)
df.iloc[0:1,:]

Datos del alumo con la calificación más alta

  NOMBRE APELLIDO  CALIFICACION CARRERA CIUDAD
0   JUAN    BALAM           100  FISICA  MOTUL

In [65]:
print('Datos del alumo con la calificación más baja')
df = df.sort_values(by='CALIFICACION', ascending=True).reset_index(drop=True)
df.iloc[0:1,:]

Datos del alumo con la calificación más baja

   NOMBRE APELLIDO  CALIFICACION     CARRERA  CIUDAD
0  MANUEL  RODENAS            12  RENOVABLES  MERIDA

<div class="alert alert-success">
<b>EJERCICIO 3: Concatenar todos los archivos .csv de los grupos "c", es decir semestre1c, semestre2c y semestre3c </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [69]:
path = 'datos'
files = glob.glob(path + '/semestre?c.csv')
print(files)
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    lista_dfs.append(temp_df)

df = pd.concat(  lista_dfs, axis=0  , ignore_index=True)

['datos/semestre2c.csv', 'datos/semestre3c.csv', 'datos/semestre1c.csv']

In [71]:
print('Promedio y desviación estándar de calificaciones')
print(f'promedio de calificaciones={df.CALIFICACION.mean():.2f}')
print(f'desviación estándar de calificaciones={df.CALIFICACION.std():.2f}')

Promedio y desviación estándar de calificaciones
promedio de calificaciones=84.09
desviación estándar de calificaciones=20.68

In [72]:
print('Datos del alumo con la calificación más alta')
df = df.sort_values(by='CALIFICACION', ascending=False).reset_index(drop=True)
df.iloc[0:1,:]

Datos del alumo con la calificación más alta

  NOMBRE APELLIDO  CALIFICACION CARRERA  CIUDAD
0   RICK  SANCHEZ           100  FISICA  MERIDA

In [73]:
print('Datos del alumo con la calificación más baja')
df = df.sort_values(by='CALIFICACION', ascending=True).reset_index(drop=True)
df.iloc[0:1,:]

Datos del alumo con la calificación más baja

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
0  VICENTE  CABALLERO             8  MECATRONICA  MERIDA

<div class="alert alert-success">
<b>EJERCICIO 4: Concatenar todos los archivos .csv de los semestres 2 y 3  </b>:

 <ul>
  <li> a) Encontrar el promedio y   desviación estándar  </li>
  <li> b) Datos del estudiante(s) con la calificación más alta </li>   
  <li> c) Datos del estudiante(s) con la calificación más baja </li>   
</ul>
</div>

In [74]:
path = 'datos'
files = glob.glob(path + '/semestre[2-3]?.csv')
print(files)
lista_dfs=[]
# recorrer la lista de archivos para crear la lista de archivos 
for file in files:
    temp_df = pd.read_csv(file)
    lista_dfs.append(temp_df)

df = pd.concat(  lista_dfs, axis=0  , ignore_index=True)

['datos/semestre2c.csv', 'datos/semestre2a.csv', 'datos/semestre3b.csv', 'datos/semestre3a.csv', 'datos/semestre3c.csv', 'datos/semestre2b.csv']

In [75]:
print('Promedio y desviación estándar de calificaciones')
print(f'promedio de calificaciones={df.CALIFICACION.mean():.2f}')
print(f'desviación estándar de calificaciones={df.CALIFICACION.std():.2f}')

Promedio y desviación estándar de calificaciones
promedio de calificaciones=84.65
desviación estándar de calificaciones=17.23

In [79]:
print('Datos del alumo con la calificación más alta')
df = df.sort_values(by='CALIFICACION', ascending=False).reset_index(drop=True)
df.iloc[0:1,:]

Datos del alumo con la calificación más alta

  NOMBRE APELLIDO  CALIFICACION CARRERA  CIUDAD
0   RICK  SANCHEZ           100  FISICA  MERIDA

In [77]:
print('Datos del alumo con la calificación más baja')
df = df.sort_values(by='CALIFICACION', ascending=True).reset_index(drop=True)
df.iloc[0:1,:]

Datos del alumo con la calificación más baja

    NOMBRE   APELLIDO  CALIFICACION      CARRERA  CIUDAD
0  VICENTE  CABALLERO             8  MECATRONICA  MERIDA